/* Estilos de HTML E BODY */
html, body{
  margin: 0;
  height: 100%;
  overflow: auto;
}
body::-webkit-scrollbar {
    display: none;
}

/* AREA MENU */
.btn_menu_sobre{
    background-color: #ebebeba1;
}

/* AREA OBJETIVO */
.div_body_objetivo{
    margin-left: 20.4%;
    margin-top: 3%;
    width: 59%;
    height: auto;
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.103);
}
.h1_objetivo{
    color: black;
    margin: 0%;
    padding-left: 1%;
    padding-top: 1%;
}
.p_objetivos{
    color: black;
    margin: 0%;
    padding-left: 1%;
    padding-top: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
}


/* AREA FUNCIONALIDADES */
.div_body_funcionalidades{
    margin-left: 20.4%;
    margin-top: 2%;
    width: 59%;
    height: auto;
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.103);
}
.h1_funcionalidades{
    color: black;
    margin: 0%;
    padding-left: 1%;
    padding-top: 1%;
}
.ul_funcionalidade{
    color: black;
    padding-top: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    font-size: 110%;
}
li{
    margin-top: 0.5%;
}

/* AREA SOBRE */
.div_body_sobre{
    margin-left: 20.4%;
    margin-top: 2%;
    width: 59%;
    height: auto;
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.103);
}
.h1_body_sobre{
    color: black;
    margin: 0%;
    padding-left: 1%;
    padding-top: 1%;
}
.div_body_sobre_p1{
    margin-top: 2%;
    display: inline-flex;
    width: 100%;
}
.img_body_sobre_p1{
    width: 10%;
    margin-left: 2%;
    border-radius: 26%;
}
.p_body_sobre_p1{
    padding-left: 1%;
}
.div_body_sobre_p2{
    margin-top: 2%;
    margin-bottom: 1%;
    display: inline-flex;
    width: 100%;
}
.img_body_sobre_p2{
    width: 10%;
    margin-left: 2%;
    border-radius: 26%;
}
.p_body_sobre_p2{
    padding-left: 1%;
    margin-left: 42%;
}


