html, body{
    margin:0%;
    height: 100%;

}
/*IMAGEM COM O LOGOTIPO*/
.div_header {
    background-color: white;
    margin: 0%;
    height: 5%;
    display: flex;
    justify-content: center;
}

.img_logo{
    height: 100%;
    margin-top: 2%;
    margin-left: 0%;
    align-self: center;
    cursor: pointer;
    margin-bottom: 1%;
}
/*----------------------------------------------------------------*/

/*BARRA AZUL COM SLOGAN*/
.div_barra {
    background-color: #123370;
    margin: 0%;
    height: 5%;
    text-align: center;
    padding: 0%;
}

.div_barra h1{
    color: white;
    font-size: x-large;  
    font-weight: normal;
    font-family: 'Helvetica', 'Arial', sans-serif;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    ;
}
/*----------------------------------------------------------------*/

/*SEPARADOR DE TABS EMPRESAS E PROFISSIONAIS*/
.btn_tabs{
    display: inline-block;
    margin: 0 20px;
}

.line_tabs{
    color: #aaaaaa;
    background-color: #aaaaaa;
    width: 40%;
    height: 2px;
}


.btn_tabs_empresas{
    margin-left: 43%;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin-top: 2%;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    color: #123370;
    display: inline;
}

.btn_tabs_profissionais{
    
    text-decoration: none;
    font-size: 20px;
    margin-top: 2%;
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    color:#aaaaaa;
    display: inline;
}

/*CAIXA COM INFO DE REGISTO*/
.div_body_registo{
    margin-left: 30%;
    justify-content: center;
    margin-top: 1%;
    width: 40%;
    height: auto;
    text-align: center;
    display: flexbox;
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.103);
}


.reg_pro_div{
    display: none;
}
/*----------------------------------------------------------------*/

/*Formatar os inputs dos formulários*/
/*input[type=text] quando queremos definir que tipos de inputs queremos alterar*/

input{
    width: 55%;
    padding: 1% 4%;
    margin: 1.5%;
    box-sizing: border-box;
}

input#email_pro{
    margin-top: 5%;
}
input#email_emp{
    margin-top: 5%;
}

input#visiblePro{
    width: 2%;
}

label#visibleProLb{
    color: #123370;
    font-size: small;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

select#genero_pro{
    width: 25%;
    padding-top: 1.5%;
}

.btn_reg_pro{
    background-color: #123370;
    color: white;
    margin: 0%;
    padding-left: 0.5%;
    padding-top: 0.75%;
    padding-bottom: 0.75%;
    padding-right: 0.5%;
    margin-bottom: 3%;
    margin-top: 2%;
    width: 55%;
    border-color: #123370;
    border-radius: 4%;
    font-size: small;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.btn_reg_emp{
    background-color: #123370;
    color: white;
    margin: 0%;
    padding-left: 0.5%;
    padding-top: 0.75%;
    padding-bottom: 0.75%;
    padding-right: 0.5%;
    margin-bottom: 3%;
    margin-top: 2%;
    width: 55%;
    border-color: #123370;
    border-radius: 4%;
    font-size: small;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

#desc_pro{
    width: 49.4%;
    padding: 12px 20px;
    margin: 8px 0;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

#desc_emp{
    width: 49.4%;
    padding: 12px 20px;
    margin: 8px 0;
    font-family: 'Helvetica', 'Arial', sans-serif;
}
/*----------------------------------------------------------------*/

/*FOOTER DA PÁGINA*/
.div_footer{
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
    padding-left: 0%;
    padding-top: 2%;
    margin-top: 0%;
}
/*----------------------------------------------------------------*/