/* Estilos de HTML E BODY */
html,
body {
    margin: 0;
    height: 100%;
    overflow: auto;
}

body::-webkit-scrollbar {
    display: none;
}

/* AREA MENU */
.btn_menu_portefolios {
    background-color: #ebebeba1;
}

/* AREA PROCURA */
.div_body_procura {
    margin-left: 20.4%;
    margin-top: 3%;
    width: 59%;
    height: auto;
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.103);
    display: flex;
}

.input_procura {
    width: 88.5%;
    border: none;
    font-size: 17px;
    float: left;
    margin-top: 0.7%;
    margin-bottom: 0.4%;
    margin-left: 1.5%;
}

.icon_procurar {
    width: 8%;
}

.btn_procura {
    border: none;
    background-color: #123370;
    color: white;
    width: 8%;
    font-size: large;
    cursor: pointer;
    padding-top: 0.4%;
    padding-bottom: 0.3%;
    margin-top: 0.4%;
    margin-bottom: 0.4%;
    margin-left: 1%;
}
.form_filtro_emp{
    width: 100%;
}

/* AREA CENTRO */
.div_body_container{
    height: 65%;
    display: flex;
    margin-top: 3%;
}
.div_body_filtro {
    width: 17.70%;
    height: 100%;
    margin-left: 20.4%;
    display: inline-block;
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.103);
}

.div_body_portefolios {
    width: 39.49%;
    height: 100%;
    margin-left: 1.5%;
    display: inline-block;
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.103);
}

/* AREA ESQUERDA */
.div_body_left_bnt_container{
    display: flex;
    background-color: #123370;
}
.btn_empresas{
    width: 50%;
    display: inline-block;
    border-color: rgba(255, 255, 255, 0);
    font-size: x-large;
    cursor: pointer;
    background-color: #ebebeba1;
    color: white;
}
.btn_empresas:hover{
    background-color: #ebebeba1;
}
.btn_curriculos{
    width: 50%;
    display: inline-block;
    border-color: rgba(255, 255, 255, 0);
    font-size: x-large;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    color: white;
}
.btn_curriculos:hover{
    background-color: #ebebeba1;
}

.div_container_left_filtros_curriculos{
    display: none;
}
.h1_container_left_idade{
    font-size: 160%;
    margin-left: 5%;
}
.div_container_left_filtros_curriculos_radio_idade{
    margin-left: 5%;
}
.input_curriculos_idade{
    margin-top: 3%;
    margin-left: 2%;
    width: 90%;
    font-size: medium;
}
.h1_container_left_localidade{
    font-size: 160%;
    margin-left: 5%;
    margin-top: 10%;
}
.input_curriculos_localidade{
    margin-left: 7%;
    width: 86%;
    font-size: medium;
}
.h1_container_left_filtro{
    margin-left: 5%;
    margin-top: 5%;
    text-decoration: underline;
}
.btn_curriculos_filtro{
    width: 90%;
    margin-left: 5%;
    font-size: large;
    margin-top: 74%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #123370;
    color: white;
    border-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}
.h1_container_left_tipo{
    font-size: 160%;
    margin-left: 5%;
    margin-top: 10%;
}
.input_empresas_localidade{
    margin-left: 7%;
    width: 86%;
    font-size: medium;
}
.select_empresa_tipo{
    margin-left: 7%;
    width: 86%;
    font-size: medium;
}
.btn_empresas_filtro{
    width: 90%;
    margin-left: 5%;
    font-size: large;
    margin-top: 86%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #123370;
    color: white;
    border-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}
.btn_curriculos_filtro {
    width: 90%;
    margin-left: 5%;
    font-size: large;
    margin-top: 74%;
    padding-top: 1.1%;
    padding-bottom: 1%;
    background-color: #123370;
    color: white;
    border-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}

.h1_no_info{
    margin-left: 5%;
}

.div_container_curriculos{
    display: none;
}


.div_curr{
    padding-top: 2%;
    margin-left: 2%;
    width: 96%;
}
.div_curr:hover{
    background-color: #ebebeba1;
    cursor: pointer;
}
.div_info{
    display: flex;
    position: relative;
}
.p_descricao {
    margin: 0%;
    margin-left: 1%;
} 
.p_info {
    margin: 0%;
    margin-left: 1%;
}  
.hr_curriculo{
    width: 100%;
    text-align: left;
    margin-left: 0%;
}