/* Estilos de HTML E BODY */
html,
body {
    margin: 0;
    height: 100%;
}

/* AREA MENU */
.btn_menu_amigos {
    background-color: #ebebeba1;
}   

/* AREA CENTRO */
.div_body_container{
    height: 65%;
    margin-top: 3%;
}

/* AREA CENTRO CIMA */
.div_body_pedidos {
    width: 59%;
    height: 55%;
    margin-left: 20.4%;
    margin-bottom: 2%;
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.103);
}
.h1_pedidos{
    margin-left: 2%;
    padding-top: 1%;
    color: #123370;
}
.div_pedidos_scroll {
    overflow: auto;
    height: 75%;
    width: 100%;
    margin-left: 2%;
    margin-right: 2%;
}
.div_pedidos_scroll::-webkit-scrollbar {
    display: none;
}
.h1_pedido{
    margin-bottom: 1%;
}
.hr_pedido{
    width: 95%;
    text-align: left;
    margin-left: 0%;
}

/* AREA CENTRO BAIXO */
.div_body_amigos {
    width: 59%;
    height: 55%;
    margin-left: 20.4%;
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.103);
}
.h1_amigo{
    margin-bottom: 1%;
}
.hr_amigo{
    width: 95%;
    text-align: left;
    margin-left: 0%;
}